$input-width: 60px;

.pos {
  &__item {
    display: flex;
  }
  &__label {
    margin-right: 10px;
  }
  &__fields {
    display: flex;
  }
  &__field {
    margin-right: 10px;
  }
  &__input {
    width: $input-width;
  }
}
